@charset "UTF-8";

.about-me {
	display: flex;
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center; /* 수직 가운데 정렬 */
	gap: 20px; /* 카드 사이 간격 */
	flex-wrap: wrap; /* 여러 줄로 배치하려면 추가 */
	width: 85%; /* 헤더를 제외한 너비 */
	margin-left: 15%; /* 헤더 공간을 제외한 위치 */
	padding-top: 50px;
	text-align: center;
	margin: 0 auto; /* 중앙에 배치 */
}




