@charset "UTF-8";

.subject {
	font-size: 36px; /* 글자 크기 */
	color: #000; /* 글자 색상 */
/* 	margin-top: 50px; 상단 여백 추가 (원하는 값으로 조정 가능) */
	margin-bottom: 0; /* 하단 여백 제거 */
	white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
	width: auto; /* 너비 자동 조정 */
	text-align: left; /* 왼쪽 정렬 */
}