@charset "UTF-8";

/* common.css */
/* Terminal 공통 스타일 */
.terminal {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.terminal-header {
    background-color: #444;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #222;
}

.terminal-header span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
}

.btn-close {
    background-color: #ff5c5c;
}

.btn-minimize {
    background-color: #ffbd4a;
}

.btn-maximize {
    background-color: #00ca4e;
}

.terminal-body {
    padding: 20px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e1e;
    height: 100%;
    overflow-y: auto;
}

#typed-output {
    color: #00ff00;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.7;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
