@charset "UTF-8";

/* common.css */
/* Terminal 공통 스타일 */
.terminal {
    background-color: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* 터미널 창에 살짝 그림자 */
    display: flex;
    flex-direction: column;
    border: 1px solid #3c3c3c;
}

.terminal-header {
	background-color: #4a4a4a; /* 헤더 배경색 */
	padding: 10px; /* 패딩 설정 */
	display: flex; /* 버튼 정렬을 위해 flex 사용 */
	align-items: center; /* 중앙 정렬 */
}

.terminal-header span {
	width: 10px; /* 버튼 너비 설정 */
	height: 10px; /* 버튼 높이 설정 */
	border-radius: 50%; /* 버튼 둥글게 */
	margin-right: 5px; /* 버튼 간 여백 */
}

.btn-close {
    background-color: #ff5c5c;
}

.btn-minimize {
    background-color: #ffbd4a;
}

.btn-maximize {
    background-color: #00ca4e;
}

.terminal-body {
	padding: 20px; /* 패딩 설정 */
	color: #dcdcdc; /* 글자색 */
/* 	font-family: 'Courier New', Courier, monospace; 고정폭 폰트 사용 */
	font-size: 18px; /* 글자 크기 */
	line-height: 1.5; /* 줄 간격 */
	overflow-y: auto; /* 세로 스크롤 활성화 */
}

.terminal-body h2 {
	margin: 0 0 10px 0; /* 제목 마진 설정 */
	font-size: 24px; /* 제목 크기 조정 */
	color: #6cc644; /* 제목 색상 */
}

.terminal-body ul {
	padding-left: 20px; /* 리스트 패딩 설정 */
}

.terminal-body li {
	margin: 5px 0; /* 리스트 아이템 간 여백 설정 */
}

#typed-output {
    color: #00ff00;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.7;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
