body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    color: #000; /* 기본 글자 색상 */
    background-color: rgba(255, 255, 255, 0); /* 배경을 투명으로 설정 */
    z-index: 10000;
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 80px 0; /* 메뉴 위치를 위쪽으로 이동 */
    font-weight: bold;
    font-size: 30px; /* 글자 크기 설정 */
    transform: translateY(-100%); /* 기본적으로 숨김 */
    opacity: 0; /* 기본적으로 투명 */
}


/* 메뉴 스타일 추가 */
#fullmenu {
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
   margin-left: 30px;
}

#fullmenu li {
    margin: 80px 0; /* 리스트 아이템 사이의 간격 설정 */
}

#fullmenu li a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 색상 상속 */
    transition: color 0.3s; /* 글자 색상 전환 효과 */
    padding: 10px 15px; /* 패딩 추가 */
}

#fullmenu li a:hover {
    color: #888; /* 마우스 오버 시 글자 색상 변경 */
    font-weight: bold; /* 활성화된 메뉴 항목의 글자 두껍게 */
}

/* 활성화된 메뉴 항목 강조 */
.active a {
    color: #000; /* 활성화된 메뉴 항목의 글자색 */
    font-weight: bold; /* 활성화된 메뉴 항목의 글자 두껍게 */
}

 
.section {
  height: 100vh; /* 각 섹션이 화면 크기만큼 */
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  align-items: center; /* 가운데 정렬 */
  justify-content: center; /* 가운데 정렬 */
  text-align: center;
  transition: background-color 0.5s ease;
}

.sec1 {
  background-color: #000;
  color: white;
}

.sec2 {
  background-color: white;
  color: black;
  padding-top: 100px; /* 위쪽 여백 추가하여 첫 번째 섹션과 간격을 확보 */ 
  height: auto;
}

.sec3, .sec4, .sec5 {
  background-color: white;
  color: black;
}

/* scroll-down 스타일 */
.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute; /* 절대 위치 */
  bottom: 30px; /* 아래에서 30px */
  left: 50%; /* 가운데 정렬 */
  transform: translateX(-50%); /* 수평으로 가운데 정렬 */
  color: white;
  z-index: 1000;
  font-size: 15px;
}

.arrow {
  animation: bounce 1.5s infinite;
  margin-top: 5px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* 각 섹션의 중앙에 글자 위치 조정 */
.motion {
  font-size: 3rem;
  font-weight: bold;
}

/* 두 번째 세션의 콘텐츠가 침범하지 않도록 설정 */
.sec2 {
  padding-top: 100px; /* 위쪽 여백 추가하여 첫 번째 */
}