@charset "UTF-8";

.timeline-container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 50px;
    height: 100%; /* 높이를 유지 */
    flex-direction: row; /* 가로 방향 배치 */
    justify-content: space-around; /* 터미널들을 가로로 간격 맞춰 배치 */
}

.timeline {
    position: absolute;
    width: 90%; /* 가로로 배치된 요소의 너비 설정 */
    height: 5px; /* 선의 두께 설정 */
    background-color: #000;
    top: 50%; /* 수직으로 중앙 배치 */
}


.sec4 .terminal {
    width: 250px; /* 가로 방향 배치에 맞춰 너비 수정 */
    height: 300px; /* 높이를 조정하여 일관성 유지 */
    margin: 20px; /* 터미널 간의 여백을 더 넉넉하게 설정 */
    background-color: #1e1e1e;
    border-radius: 8px;
    border: 1px solid #3c3c3c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}



