@charset "UTF-8";

/* admin.css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}

.admin-container {
	display: flex;
	min-height: 100vh;
}

.admin-header {
	width: 250px; /* 왼쪽 메뉴 고정 너비 */
	background-color: #0B173B;
	color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.logo-subject {
	margin-bottom: 30px; /* 제목 아래에 간격 추가 */
	margin-top : 20px; /*제목 위쪽 간격 추가 */
}
.logo-subject h1 {
	font-size: 30px; /* 제목 크기 설정 */
}

.logo-subject h3 {
	font-size : 15px;
}

.admin-header nav {
    margin-top: 20px; /* 네비게이션 위쪽 간격 추가 */
}

.admin-header nav ul {
	list-style-type: none;
	padding: 0; /* 리스트 패딩 제거 */
}

.admin-header nav ul li {
	margin-bottom: 15px;
}

.admin-header nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 18px;
}

.admin-header nav ul li a:hover {
	text-decoration: underline;
}

.admin-content {
	flex: 1; /* 나머지 공간을 차지하는 콘텐츠 */
	padding: 40px;
	background-color: #fff;
}

.admin-content h1 {
	margin-bottom: 20px;
	font-size: 32px;
}

.admin-content p {
	font-size: 18px;
	line-height: 1.6;
}