/* admin.css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}

.admin-container {
	display: flex;
	min-height: 100vh;
}
/*헤더 시작*/
.admin-header {
	width: 280px;
	background-color: #0B173B;
	color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.logo-subject {
	/* 	margin-bottom: 30px; */
	margin-top: 20px;
}

.logo-subject h1 {
	font-size: 30px;
}

.logo-subject h3 {
	font-size: 15px;
}

.logo-subject {
	margin-bottom: 30px;
}

.logout {
	margin-top:auto;
	margin-bottom : 30px;
}

.logout a {
	color: white;
	text-decoration: none;
	font-size: 15px;
	padding: 10px 20px;
}

.logout a:hover {
	background-color: #1F3A93;
}

.admin-header nav ul {
	list-style-type: none;
	padding: 0;
}

.admin-header nav ul li {
	margin-bottom: 15px;
}

.admin-header nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 16px;
	display: block;
	padding: 10px;
	background-color: #0B173B;
}

.admin-header nav ul li a:hover {
	background-color: #1F3A93;
}

.submenu, .sub-submenu {
	margin-left: 20px; /* 서브 메뉴 들여쓰기 */
}

.submenu-item a, .sub-submenu li a {
	background-color: #1F3A93;
	font-size: 16px;
}

.submenu-item a:hover, .sub-submenu li a:hover {
	background-color: #3B5998;
}

/*헤더 끝*/
.admin-content {
	flex: 1;
	padding: 40px;
	background-color: #fff;
}

.admin-content h1 {
	margin-bottom: 20px;
	font-size: 32px;
}

.admin-content p {
	font-size: 18px;
	line-height: 1.6;
}