@charset "UTF-8";

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: Arial, sans-serif;
}

.login-box {
	background-color: #0B173B;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	width: 300px;
}

.login-box h2 {
	margin-bottom: 20px;
	font-size: 24px;
	color: #fff;
}

.login-box input[type="text"], .login-box input[type="password"] {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

.login-box button {
	width: 100%;
	padding: 10px;
	background-color: #2E64FE;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.login-box button:hover {
	background-color: #0000FF;
}