@charset "UTF-8";


/* 박스 스타일 추가 */
.itemBox {
	display: flex; /* flexbox 사용으로 수평 정렬 */
	justify-content: space-between; /* 양쪽 끝 정렬 */
	align-items: center; /* 세로 중앙 정렬 */
	height: 60px;
	width: 85%;
	padding: 10px;
	margin: 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #f9f9f9;
	cursor: pointer;
}

.treeview-black li {
    position: relative; /* position 속성을 relative로 설정 */
}

.sortable-placeholder {
    background-color: #f0f0f0; /* 자리 표시자 색상 */
    border: 1px dashed #ccc; /* 자리 표시자 테두리 */
    height: 40px; /* 원래 요소의 높이와 일치 */
    margin: 5px 0; /* 원래 요소의 여백과 일치 */
    padding: 10px; /* 원래 요소의 여백과 일치 */
    visibility: visible; /* 자리 표시자를 보이도록 설정 */
}

